<script src="https://use.fontawesome.com/9c740b58c7.js"></script>
<%var per = session.admin.permission%>
<div class="border-bottom">
  <div class="float-left">
    <ul class="menu">
      <li class="menu"><a href="./home">Home</a></li>
      <li class="menu"><a href="./listcategory">Category</a></li>
      <li class="menu"><a href="./listproduct">Product</a></li>
      <% if (per === "1") {%>
      <li class="menu"><a href="./listorder">Order</a></li>
      <li class="menu"><a href="./listcustomer">Customer</a></li>
      <% } %>
      <li class="menu"><a href="./listcomment">Comment</a></li>
      <li class="menu"><a href="./listquestion">Question</a></li>
    </ul>
  </div>
  <div class="float-right">
    Hello <a href="./myprofile"><b id="username"><%=session.admin.username%></b></a> | <a href="./logout">Logout</a>
  </div>
  <div class="float-clear"></div>
</div>