<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="admin">
  <%- include('./_menu.ejs') %>
  <div class="align-center">
    <h2 class="text-center">ADMIN HOME</h2>
    <img src="https://i.pinimg.com/236x/8a/a4/59/8aa4595fb24b6ed585dddac4622b2445.jpg" width="600px" height="500px" />
  </div>
</body>

</html>